# Ignore Gradle project-specific cache directory
.gradle
.gradle/*

# Ignore Gradle build output directory
build
/bin/

# Macfiles
.DS_Store

# Eclipse
.settings
.classpath
.project
.launch
.loadpath

# Intellij
.idea
.idea/*

# Build Artifacts
out/
out/*
